.footer {
    background-color: #ffffff;
}

.footer-top-wrapper {
    border-bottom: 2px solid #f5f5f5;
}

.footer_row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 48px;
    padding-bottom: 52px;
}

.footer_row--copyright {
    padding-top: 40px;
    padding-bottom: 49px;
}

.footer_logo {

}

.footer_nav {

}

.footer_socials {

}