.main-content {

}

.main_row {
    display: flex;

}

.main_column-left {
    width: 255px;
    flex-shrink: 0;
    margin-right: 30px;

    & > * + * {
        margin-top: 30px;
    }
}

.main_column-right {
    flex-grow: 1;
}