.payments {
    display: flex;
    align-items: center;
} 

.payments_text {
    margin-right: 30px;
    color: #b8b8b8;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.payments_icons {
    display: flex;
    align-items: center;

}

.payments_icon {
    & + & {
        margin-left: 20px;
    }
}